.form {
	position:relative;
	width:600px;
	height:1000px;
	padding-left: 15px;
	padding-top: 15px;
	background-color:#e5dfcd;
	border-radius: 25px;
	margin:auto;
}
.body{

	position: relative;
	padding-left: 500px;


}
.dato{
	border-color: black;

}